@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

.PMcontainer {
  height: 100vh;
  width: 100%;
  background: url("../COD-T.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Medium", sans-serif;
  padding: 45px 0px;
  overflow-y: scroll;
}

.PMtop {
  font-size: 40px;
  font-weight: 500;
  font-family: "Goldman", cursive;
  padding: 0px 0px 0px 100px;
}

.PMmid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.PMqr{
    height: 50vh;
    width: 20vw;
    margin-top: -110px;
    margin-bottom: 50px;
}


.PM2nd {
  font-weight: 500;
  font-size: 21px;
  color: white;
  text-shadow: 0px 0px 20px rgba(177, 255, 193, 0.5);
}

.PMbtn {
  width: 100%;
  font-size: 16px;
  background: #4d69fd;
  text-align: center;
  padding: 8px 15px;
  width: 40vw;
  font-weight: 500;
  cursor: pointer;
  margin-top: 30px;
}



.PMcode {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(217, 217, 217, 0.4);
  font-size: 18px;
  padding: 6px 15px;
  color: white;
  width: 40vw;
  gap: 10px;
}

