*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.verifyEmail1 {
    width: 100%;
    height: 100vh;
    background: #0D0916;
    overflow: hidden;
}

.verifyBoxFlex2 {
    display: flex;
    justify-content: center;
}

.verifyBox1 {
    width: 614px;


    background: linear-gradient(212.88deg, #1F2751 0.2%, #101638 105.61%, rgba(16, 22, 56, 0) 105.62%);
    /* opacity: 0.96; */
    backdrop-filter: blur(250px);
    margin-top: 32px;
    margin-bottom: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sugaLogoEmail1 {
    margin-top: 33px;
    margin-left: 29px;
}

.verifyLogo1 {
    width: 300px;
    height: 300px;
    margin-top: 4px;

}

.loginBtn2 {
    width: 165px;
    height: 48px;
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;

    background: #4D69FD;
    margin-right: 114px;
    border: none;

}

.emailFlex3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verifyTxt1 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;

    color: #FFFFFF;

    margin-top: 5px;
    margin-bottom: 100px;

}

.emailName1 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 68px;

}

.clickToVerify1 {
    width: 315px;
    height: 48px;

    background: #4D69FD;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    border: none;

    color: #FFFFFF;
    margin-top: 21px;
    margin-bottom: 200px;

}


@media screen and (max-width: 550px) {
    .sugaLogoEmail1 {
        margin-left: -180px;
        margin-top: -20px;
    }

    .loginBtn2 {
        margin-right: -150px;
    }

    .emailFlex3 {
        transform: scale(0.5);
    }

    .verifyBoxFlex2 {
        transform: scale(0.7);
    }

    .verifyLogo1 {
        margin-top: 8px;
    }

    .verifyTxt1 {
        font-size: 16px;
    }

    .emailName1 {

        font-size: 12px;
        margin-bottom: 40px;
    }



    .verifyBox1 {
        margin-top: 1px;

    }

    .verifyBox1 {
        margin-bottom: 20px;
    }

}