*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myListings {
    width: 100%;
    min-height: 100vh;
    background: #0D0916;
    overflow: hidden;
}

.myListingBar1 {
    display: flex;
    gap: 20px;
}

.myListingsDetails1 {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

}

.listingBar {
    width: 237px;
    height: 75px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.activeListingBar {
    /* width: 237px;
    height: 75px; */
    background: rgba(53, 52, 52, 0.153);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.listingsDetail1 {
    background: rgba(53, 52, 52, 0.153);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin-top: -2px;
    margin-bottom: 40px;

  
}

.listingsDetail2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* .CreateListing1 {
    width: 168px;
    height: 48px;
    background: #4D69FD;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
   

    color: #FFFFFF;
} */

.CreateListing1 {
    margin-top: 40px;
    margin-left: 10px;
    width: 168px;
    height: 48px;
    background: #4D69FD;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

.listingDetail3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.assetDetail1 {
    display: flex;
    gap: 10px;

}

.assetImage1 {
    width: 203px;
    height: 130px;

    background: linear-gradient(219.83deg, rgba(91, 101, 153, 0.5) -0.82%, rgba(34, 41, 77, 0.5) 107.94%);
    backdrop-filter: blur(6px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.assetName {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.assetName1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.assetName2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 13px;
    color: #A3B1E4;
}

.assetPrice1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* text-align: center; */
    letter-spacing: 0.02em;

    color: #FFC700;
}

.assetStatus1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.02em;

    color: #4D69FD;

    display: flex;
    justify-content: space-between;
}

.deleteIcon2 {
    background: transparent;
    border: none;
}

.CSGOIcon2 {
    width: 24px;
    height: 24px;
}

.assetImageIcon2 {
    background: transparent;
    width: 112px;
    height: 118px;
}

.tradeButton1 {
    width: 39px;
    height: 39px;
}

.tradeButton {
    width: 39px;
    height: 39px;
    background: transparent;
    border: none;

}

.inputAccountDetails1 {
    height: 48px;
    max-width: 621px;
    background: linear-gradient(269.02deg, #121738 27.95%, #0D1129 100.64%);
    border: none;
}

.accountDetails1 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.submitAccDetails1Btn {
    height: 48px;
    width: 266px;
    background: #4D69FD;
    border: none;
    margin-top: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* display: flex;
align-items: center;
text-align: center; */

    color: #FFFFFF;
}

.accountDetails4{
    max-width: 621px;
}

.accountDetails5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; 

    margin-top: 40px;
}

/* .accountDetails6{
    width: 100vw;
    display: flex;
    flex-direction: column;
   

} */