@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Fback{
    height: 100vh;
   background: #0D0916;
    overflow: hidden;
   
}

.phantom {
    
    background-image: url("../homepage/logos/COD1.png");
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    overflow: hidden;
    opacity: 0.9;
     /* opacity: 0.3; */
     height: 100vh;

}

.phantom h1 {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 57px;
}

.Pform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pform input {
    height: 60px;
    width: 660px;
    background: #000000;
    backdrop-filter: blur(10px);
    outline: none;
    border: none;
    border-radius: 0;
    margin-bottom: 8px;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.Pform input::placeholder{
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}


.Pform button {
    width: 220px;
    height: 48px;
    background: #4D69FD;
    font-family: 'Gilroy-Regular';
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin-top: 18px;
    margin-left: 228px;
}

.outerbtn{
    margin-left: 15px !important;
}