*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.comingSoon {
    background: #0D0916;
    min-height: 100vh;
    overflow: hidden;
}

.comingSoonTxt {
    font-family: 'Goldman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
}

.comingSoonTxt {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 70px;
}

.blue2 {
    color: #4D69FD;

    text-shadow: 0px 0px 50px rgba(248, 248, 248, 0.5);
}

.white2 {
    color: #FFFFFF;

    text-shadow: 0px 0px 50px rgba(248, 248, 248, 0.5);
}

.message2 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    margin-top: 0px;
}

.enterEmail3 {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 100px;
}


.email3 {
    width: 948px;
    height: 65px;

    border: 1px solid #4D69FD;
    background: transparent;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: left;
    letter-spacing: 0.1em;

    color: rgba(255, 255, 255, 0.5);
}

.subscribe3 {
    width: 246px;
    height: 65px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    background: #4D69FD;
    border: 1px solid #4D69FD;
    cursor: pointer;
}

.message4 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    margin-top: 80px;
}

.socialLogo1 {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 62px;
    margin-top: 15px;
}

@media screen and (max-width: 550px) {
.comingSoonTxt{
    transform: scale(.75);
}

.message2{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.enterEmail3{
    transform: scale(.70);
    margin-top: 30px;
    flex-direction: column;
}

.subscribe3{
    margin-top: 150px;
    width: 198px;
height: 48px;
    
}

.email3{
    box-sizing: border-box;

    position: absolute;
    width: 374px;
    height: 48px;
   
    
    border: 1px solid #4D69FD;
}


.message4{
  
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
}

.socialLogo1{
    transform: scale(.75);
}

}
