*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgotPassword1 {
    width: 100%;
    height: 100vh;
    background: #151517;
    overflow: hidden;
}

.form-label1 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
    margin-top: 169px;
}

.inputCredential1 {
    width: 497px;
    height: 49px;

    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B6B6B6;
}

.linkBtn2 {
    width: 254px;
    height: 54px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px #FFFFFF;
    border-radius: 13px;
    background: transparent;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.forgetPasswordDetail2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.inputEmailLabelFlex2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sugaLogoBw2 {
    margin-top: 43px;
    margin-left: 100px;
}

.backBtn3 {
    width: 93px;
    height: 36px;
    border: 1px solid #FFFFFF;
    background: transparent;
    margin-top: 118px;
    margin-right: 100px;


    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;


    color: #FFFFFF;

}

.forgotPasswordTopFlex1 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .setPasswordDetail2 {
        transform: scale(0.5);

    }

    .settPasswordTopFlex1 {
        transform: scale(0.4);
    }

    .sugaLogoBw2 {
        margin-top: -20px;
        margin-left: -200px;
    }

    .backBtn3 {

        margin-top: 60px;
        margin-right: -100px;

    }

    .forgotPasswordTopFlex1 {
        display: flex;
        justify-content: space-between;
    }

    .form-label1 {
      
        margin-top: 60px;
    }

}