*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.setPasswordPage{
    width: 100%;
    height: 100vh;
    background: #151517;
    overflow: hidden;
}

.password1{
font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;


color: #FFFFFF;
background: transparent;
}    

.enterPassword{
width: 497px;
height: 49px;

background: #292931;
border: 1px solid #FFFFFF;
border-radius: 5px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

align-items: center;
text-align: center;

color: #5B5B5B;

-webkit-text-security: disc;
-moz-text-security: disc;
}

.cnfrmPassword{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  
    
    color: #FFFFFF;
    background: transparent;
    
    }    
    
    .confermPassword{
    width: 497px;
    height: 49px;
    
    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    align-items: center;
    text-align: center;
    
    color: #5B5B5B;
    
    -webkit-text-security: disc;
    -moz-text-security: disc;
    
    }
    
    .proceedBtn{
    width: 174px;
    height: 54px;
    
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px #FFFFFF;
    border-radius: 13px;
    cursor: pointer;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    background: transparent;
    }

    .setPasswordDetails2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 39px;
        margin-top: 169px;
    }

    .setPasswordFlex3{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .setPasswordTopFlex1{
        display: flex;
        justify-content: space-between;
    }

    .signInBtn3 {
        width: 93px;
        height: 36px;
        border: 1px solid #FFFFFF;
        background: transparent;
        margin-top: 118px;
        margin-right: 100px;
    
    
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    
    
        color: #FFFFFF;
    
    }

    .sugaLogoBw3 {
        margin-top: 43px;
        margin-left: 100px;
    }
    

    @media screen and (max-width: 550px) {
      .setPasswordTopFlex1{
        transform: scale(0.4);
      }

      .sugaLogoBw3 {
        margin-top: -20px;
        margin-left: -200px;
    }

    .signInBtn3 {

        margin-top: 60px;
        margin-right: -100px;

    }

    .setPasswordDetails2{
        transform: scale(0.5);
        margin-top: 10px;
    }

   
    
    }