
.setPasswordPage{
    position: relative;
   
    height: 1132px;
    
    background: #151517;
}

.sugaText{
    position: absolute;
    width: 159px;
    height: 44px;
    left: 188px;
    top: 109px;
    background: transparent;
    
}

.sugaLogoBW{
    position: absolute;
    width: 88px;
    height: 102px;
    left: 100px;
    top: 50px;
    
    border-radius: 18px;
    background: transparent;
    }
    
.signInBtn{
box-sizing: border-box;

position: absolute;
width: 93px;
height: 36px;
left: 1243px;
top: 121px;

font-family: 'Prompt';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

align-items: center;
text-align: center;

color: #FFFFFF;

border: 1px solid #FFFFFF;
cursor: pointer;
background: transparent;
    }

.password{
position: absolute;
width: 291px;
height: 33px;
left: 472px;
top: 454px;

font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #FFFFFF;
background: transparent;
}    

.enterPassword{
box-sizing: border-box;

position: absolute;
width: 497px;
height: 49px;
left: 472px;
top: 499px;

background: #292931;
border: 1px solid #FFFFFF;
border-radius: 5px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

align-items: center;
text-align: center;

color: #5B5B5B;

-webkit-text-security: disc;
-moz-text-security: disc;
}

.cnfrmPassword{
    position: absolute;
    width: 213px;
    height: 34px;
    left: 472px;
    top: 579px;
    
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    background: transparent;
    
    }    
    
    .confermPassword{
    box-sizing: border-box;
    
    position: absolute;
    width: 497px;
    height: 49px;
    left: 472px;
    top: 625px;
    
    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    align-items: center;
    text-align: center;
    
    color: #5B5B5B;
    
    -webkit-text-security: disc;
    -moz-text-security: disc;
    
    }
    
    .proceedBtn{
    box-sizing: border-box;
    
    position: absolute;
    width: 174px;
    height: 54px;
    left: 640px;
    top: 714px;
    
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px #FFFFFF;
    border-radius: 13px;
    cursor: pointer;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    background: transparent;
    }