*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skinDetail1 {
    width: 100%;
    min-height: 100vh;
    background: #0D0916;
    overflow: hidden;
}

.details1 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;

}

.skinBox1 {
    width: 250px;
    height: 250px;
    background: #101638;
    margin-left: 110px;


}

.skinBoxTopArrow1 {
    margin-top: 0px;
    margin-left: 0px;
}

.skinBoxBottomArrow1 {
    margin-top: -7px;
    margin-left: 190px;
}

.skinBoxFlex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skin3Logo {
    margin-top: -12px;
    width: 210px;
    height: 173px;
}

.skinBlueLine1 {
    width: 200px;
    height: 2px;
    background: #4D69FD;
    filter: blur(2px);
    border-radius: 50%;
}

.skinBlueLine2 {
    width: 3px;
    height: 300px;
    background: #4D69FD;
    filter: blur(2px);
    margin-left: 193px;
}

.skinFlexItem2 {
    margin-left: 51px;

}

.skinTitle {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}



.skinDetail1 {
    font-family: 'Gilroy', sans-serif;
    color: #FFFFFF;
    margin-right: 51px;

}

.skinDetail2 {
    font-family: 'Gilroy', sans-serif;
    color: #FFFFFF;
}

.skinSubTitle1 {
    color: #A3B1E4;
}

.askBuy1 {
    width: 315px;
    height: 48px;
    background: #4D69FD;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.05em;

    color: #FFFFFF;

}

.skinBuyFlex1 {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.skinType1 {
   
    height: 50px;
    width: 160px;
    background: #101638;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.skinPrice1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 101px;
    height: 48px;
    border: 2px solid #4D69FD;
    border-radius: 4px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.skinDetails2 {
    margin-top: 119px;
}

.mobileView1 {
    visibility: hidden;
}

.skinDetailAccordian1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skinDetailAccordian2 {
    display: flex;
    justify-content: space-between;
}

/* .accordion-item{
    background: #101638;
} */

.accordianBackground1 {
    background: #101638;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.logoimages1{
    width: 150px;
    margin-left: 10px;
    margin-top: -10px;
}

@media screen and (max-width: 550px) {
    .skinBox1 {
        transform: scale(0.75);
        margin-left: 0px;
    }

    .skinBlueLine2 {
        display: none;
    }

    .details1 {
        flex-direction: column;
    }

    .skinTitle {
        font-size: 20px;
        display: flex;
        justify-content: center;

    }

    .skinFlexItem2 {
        margin-left: 0px;
    }

    .skinDetail4 {
        margin-left: 33px;
        margin-right: 50px;
    }

    .skinDetail2 {
        font-size: 16px;
    }

    .skinSubTitle1 {
        font-size: 16px;
    }

    .skinDetails2 {
        display: none;
    }

    .mobileView1 {
        visibility: visible;
        margin-left: 33px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .accordian3 {
        background: #101638;
    }

    .logoimages1{
        margin-left: 5px;
        margin-top: -10px;
        width: 99px;
        height: 39px;
    }
    

}