*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ourTeamContainer {
    width: 100%;
    min-height: 1700px;
    background: #0D0916;
    z-index: 20;
}

.pNavbar1 {
    z-index: 1000;
}

.ourTeamBG1 {

    z-index: 10;
}


.ourTeamTxt1 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 70px;

}

/* .ourTeam1{
    background-image: 
    url("ourTeam bg.svg");
    background-size: "cover";
    height: 100vh;
    z-index: .1;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
} */

.teamCard {
    width: 358px;
    height: 344px;
    background: #101638;
    border-radius: 9px;

}

.teamDetail1 {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    justify-content: center;
    margin-top: 74px;
}

.memberName1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 18px;
}

.memberPosition1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.teamCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.image2 {
    width: 155px;
    height: 166px;

}

.image3 {
    width: 155px;
    height: 166px;
    border: 2px solid #FFFFFF;
    border-radius: 77.5px;
}

.instaDetails1 {
    display: flex;
    gap: 8px;

}

.discordDetails1 {
    margin-top: -4px;
}

.socialMediaDetails1 {
    display: flex;
    gap: 20px;

}

@media screen and (max-width: 550px) {

    .discordLogo2{
        width: 24px;
        height: 24px;
    }

    /* .instaLogo2 {
        width: 16px;
        height: 16px;
    } */

    .socialMediaDetails1 {
        flex-direction: column;
        gap: 2px;
    }

    .ourTeamContainer {
        min-height: 100vh;
        width: 100vw;
    }

    .teamCard {
        width: 166px;
        height: 160px;
    }

    .memberName1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-top: 8px;
    }

    .memberPosition1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .image2 {
        width: 73px;
        height: 76px;

    }

    .image3 {
        width: 73px;
        height: 76px;

    }


    .teamDetail1 {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ourTeamTxt1 {
        margin-top: 30px;
        margin-left: 20px;
        font-size: 32px;
    }

    .teamDetail1 {
        margin-top: 0px;
    }
}