@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.MNcard {
    width: 315px;
    height: 275px;
    background: linear-gradient(219.83deg, rgba(91, 101, 153, 0.5) -0.82%, rgba(34, 41, 77, 0.5) 107.94%);
    backdrop-filter: blur(12px);
}

.MCtop {
    display: flex;
}

.MClogo {
    width: 34px;
    height: 34px;
    border: 1px solid #445ACD;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 8px;
    z-index: 10;
}

.MClogo img {
    margin-top: 6px;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.MCimg {
    position: absolute;
    left: 40px;
    top: 5px;
    z-index: 2;
}

.MCimg img {
    width: 224px;
    height: 173px;
    object-fit: contain;
}

.MCbtns {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;

}

.MCbtn1 {
    display: flex;
    width: 108px;
    height: 34px;
    background: #23294A;
    padding-top: 6px;

}

.MCbtn1 img {
    height: 21px;
    width: 21px;
    object-fit: contain;
    margin-left: 10px;
}

.MCbtn1 p {
    /* margin-left: 15px; */
    width: 77px;
    padding-top: 4px;
    text-align: center;

}

.MCbtn2 {
    margin-top: 8px;
    margin-left: 25px;
    width: 82px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #00FF94;
    background: transparent;

    padding-top: 4.5px;
}

.MCline {
    position: absolute;
    left: 22px;
    top: 173px;
    width: 270px;
    height: 2px;
    border-radius: 50%;
    background: #4D69FD;
    filter: blur(1px);
    transform: rotate(-180deg);
    z-index: 1.6;
}

.MCmid {
    display: flex;
}

.MCmid p:nth-child(1) {
    position: absolute;
    top: 191px;
    left: 23px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}

.MCmid p:nth-child(2) {
    position: absolute;
    top: 191px;
    right: 39px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFC700;

}

.MCmid p:nth-child(3) {
    position: absolute;
    top: 193px;
    right: 16px;
    color: #FFC700;
}

.MCbottom {
    display: flex;
}

.MCleft {
    display: flex;
}

.MCleft img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 23px;
    top: 240px;
    object-fit: contain;
}

.MCleft p {
    position: absolute;
    width: 151px;
    height: 26px;
    left: 54px;
    top: 240px;
    font-family: 'Gilroy-Regular';
    font-size: 10px;
    line-height: 13px;
    /* or 130% */
    color: #A3B1E4;
}

.MCright p:nth-child(1) {
    position: absolute;
    left: 258px;
    top: 220px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #4D69FD;

}

.MCright p:nth-child(2) {
    position: absolute;
    left: 265px;
    top: 240px;
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 20px;
    line-height: 12px;
    text-align: right;
    color: #A3B1E4;
}

@media screen and (max-width: 700px) {
    .MNcard {
        width: 170px;
        height: 190px;
    }

    .MCimg {
        left: 22px;
        top: -5px;
    }

    .MCimg img {
        width: 120px;
        height: 100px;
    }

    .MCline {
        left: 15px;
        top: 85px;
        width: 140px;
    }

    .MCmid p:nth-child(1) {
        top: 95px;
        left: 15px;
        padding: 0px 5px;
        font-size: 13px;
        line-height: 16px;

    }

    .MCleft img {
        width: 18px;
        height: 20px;
        left: 15px;
        top: 147px
    }
    .MCleft p {
        width: 120px;
        height: 26px;
        left: 40px;
        top: 145px;
    }
}

@media screen and (max-width: 370px) {
    .MNcard {
        width: 150px;
        height: 190px;
    }

    .MCimg {
        left: 22px;
        top: -5px;
    }

    .MCimg img {
        width: 100px;
        height: 100px;
    }
    .MCline {
        left: 11px;
        top: 85px;
        width: 120px;
    }

    .MCmid p:nth-child(1) {
        top: 95px;
        left: 15px;
        padding: 0px 5px;
        font-size: 13px;
        line-height: 16px;

    }

    .MCleft img {
        width: 18px;
        height: 20px;
        left: 15px;
        top: 147px
    }
    .MCleft p {
        width: 120px;
        height: 26px;
        left: 40px;
        top: 145px;
    }
}