* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RegistrationFromInvite {
    background: #151517;
    overflow: hidden;
  min-height: 100vh;
}

.LsugaText1 {
    position: absolute;
    width: 75px;
    height: 20px;
    margin-left: 90px;
    margin-top: 75px;
    /* left: 90px;
    top: 85px; */
    background: transparent;
}

.LsugaLogoBW1 {
    position: absolute;
    width: 65px;
    left: 30px;
    top: 20px;
    cursor: pointer;
    border-radius: 18px;
    background: transparent;
}

.registrationfrominviteTop1{
    display: flex;
}

.signInBtn {
    box-sizing: border-box;
   
    width: 115px;
    height: 48px;
    margin-left: 1280px;
    margin-top: 70px;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background: transparent;
}


.Rform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* padding-top: 170px; */
}

.Rform input{
    color: #FFFFFF;
}


.Rusername {

    width: 213px;
    height: 34px;

    margin-bottom: 6px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    background: transparent;
}

.RsetUsername {
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 497px;
    height: 49px;
    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.Remail {
    margin-bottom: 6px;
    width: 213px;
    height: 34px;


    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    background: transparent;
}

.RsetEmail {
    margin-bottom: 20px;
    box-sizing: border-box;


    width: 497px;
    height: 49px;


    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    align-items: center;
    text-align: center;

    color: #5B5B5B;

}

.Rpassword {
    margin-bottom: 6px;
    width: 291px;
    height: 34px;


    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    background: transparent;
}

.RsetPassword {
    margin-bottom: 20px;
    box-sizing: border-box;


    width: 497px;
    height: 49px;


    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    align-items: center;
    text-align: center;

    color: #5B5B5B;

    -webkit-text-security: disc;
    -moz-text-security: disc;
}

.RcnfrmPassword {
    margin-bottom: 6px;

    width: 213px;
    height: 34px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    background: transparent;

}

.RconfermPassword {
    box-sizing: border-box;
    margin-bottom: 40px;

    width: 497px;
    height: 49px;


    background: #292931;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    align-items: center;
    text-align: center;

    color: #5B5B5B;

    -webkit-text-security: disc;
    -moz-text-security: disc;

}

.RproceedBtn {
    box-sizing: border-box;
    width: 174px;
    height: 54px;
    margin-left: 140px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background: transparent;
}

.passwordRules1{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
}


@media screen and (max-width: 550px) {
    .Rform{
        transform: scale(0.5);
        margin-top: -30px;
        /* padding-top: 0px; */
    }

    .LsugaText1 {
        position: absolute;
        width: 75px;
        height: 20px;
        margin-left: 90px;
    margin-top: 75px;
        background: transparent;
    }

    .LsugaLogoBW1 {
        position: absolute;
        width: 65px;
        left: 30px;
        top: 20px;
        cursor: pointer;
        border-radius: 18px;
        background: transparent;
    }

    .signInBtn{
        margin-left:270px;
        margin-top: 60px;
        width: 60px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    }

    .sugaLogoAndText1{
        transform: scale(0.75);
    }

}
